<% if (pagination == 2){ %>
<% page.posts.each(function(post){ %>
<%- partial('article', {post: post, index: true}) %>
<% }) %>
<% if (page.total > 1){ %>
<nav id="page-nav" class="pagination">
    <%- paginator({
        prev_text: '&laquo;',
        next_text: '&raquo;'
    }) %>
</nav>
<% } %>
<% } else { %>
<% var last, current_tag = page.path.substring(5, page.path.substring(5).indexOf('/') + 5); %>
<div class="body-wrap page-archive">
    <div class="main-container">
        <% page.posts.each(function(post, i){ %>
        <% var year = post.date.year();%>
        <% if (last != year){ %>
        <% last = year; %>
        <% if(is_current('archives/', {strict: true})){ %>
        <h2>归档</h2>
        <%- partial('year', {year: year}) %>
        <% return; %>
        <% } %>
        <% if(is_current('archives/' + year + '/', {strict: true})){ %>
        <%- partial('year', {year: year}) %>
        <% return; %>
        <% } else { %>
        <h2>#<%- current_tag %></h2>
        <%- partial('year', {year: year}) %>
        <% } %>
        <% } %>
        <%- partial('archive-post', {post: post}) %>
        <% }) %>
        <% if (page.posts.length){ %>
    </div>
    <% if (page.total > 1){ %>
    <nav id="page-nav" class="pagination">
        <%- paginator({
            prev_text: '&laquo;',
            next_text: '&raquo;'
        }) %>
    </nav>
    <% } %>
</div>
<% } %>
<% } %>